/**
 * @group Outer container.
 */
#page-wrapper {
    height: 100vh;
}

/**
 * @group Main map.
 */
#the-map {
    min-height: 75%;
}


/**
 * @group Have/need form.
 */
#page-wrapper .form-horizontal {
    padding: 0 15px;
}

/**
 * @group Diagnostics.
 */
/*
#the-map {
    background: red;
}
*/
