/**
 * @group Outer container.
 */
#page-wrapper {
    height: 100vh;
}

/**
 * @group Main map.
 */
#the-map {
    min-height: 75%;
}

/**
 * @group Diagnostics.
 */
/*
#the-map {
    background: red;
}
*/
